                                                        
# Created by https://www.gitignore.io/api/angular,windows,dotnetcore
# Edit at https://www.gitignore.io/?templates=angular,windows,dotnetcore

### DotnetCore ###
# .NET Core build folders
bin
obj

# End of https://www.gitignore.io/api/angular,windows,dotnetcore
